# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled Python files
*.pyc

# Package directories
dist/
build/
*.egg-info/

# Database files
*.db
*.sqlite3

# Temporary files
*.tmp
*.bak

# Coverage reports
htmlcov/
.coverage
.coverage.*

*.openapi.json