run = ["sh", "-c", "ENV=replit PORT=8000 poetry run start"]
modules = ["python-3.12"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "ENV=replit PORT=8000 poetry run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
